$gray-dark:          #393939;
$gray:               #545454;
$gray-light:         #c3c3c3;
$gray-lighten:       #e6e6e6;
$gray-lightest:      #f7f7f7;

$color-primary:            #22a7f0;
$color-secondary:          #03a678;
$color-third:              #7eb739;
$color-yellow:             #f7ca18;
$bg-dark:                  #041b31;
$bg-dark-opacity:          rgba(4, 27, 49, 0.9);
$bg-white:                 #ffffff;
$bg-black:                 #000000;
$text-white:               #ffffff;
$text-black:               #000000;
$text-dark:                #1e1e1e;
$text-gray:                #999999;




$font--xxs:    10px;
$font--xs:     12px;
$font--sm:     13px;
$font--md:     14px;
$font--lg:     15px;
$font--lg-2:   16px;
$font--xlg:    18px;
$font--large:  21px;
$font--large-2:  48px;
$font--largest:  60px;


$title-font--sm:         18px;
$title-font--md:         20px;
$title-font--lg:         21px;
$title-font--large:      24px;
$title-font--largest:    30px;
$title-font--xlargest:   36px;


$line--xs: 1em;
$line--sm: 1.1em;
$line--md: 1.2em;
$line--lg: 1.45em;
$line-xlg: 1.65em;


$mobile-width--sm: "(max-width: 480px)";
$mobile-width--md: "(max-width: 568px)";
$tablet-width--xs: "(max-width: 767px)";
$tablet-width--sm: "(max-width: 991px)";
$tablet-width--md: "(max-width: 1023px)";
$desktop-width-sm: "(max-width: 1199px)";
