.ads-promo {
  padding-top: 60px;
  padding-bottom: 65px;

  @media #{$tablet-width--md} {
    padding-top: 25px;
    padding-bottom: 30px;
  }
}

.ads-promo__title {
  margin-bottom: 81px;
  text-align: left;

  @media #{$tablet-width--md} {
    margin-bottom: 40px;
    font-size: $title-font--large;
  }
}

.ads-promo__inner {
  position: relative;
  display: flex;
  align-items: flex-start;
  z-index: 3;

  @media #{$tablet-width--xs} {
    flex-direction: column;
    align-items: center;
  }
}

.ads-promo__col {
  width: 27%;

  @media #{$tablet-width--xs} {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  &:last-child {
    padding-top: 65px;

    @media #{$tablet-width--md} {
      padding-top: 0;
    }
  }
}

.ads-promo__col--pic {
  margin-bottom: -118px;
  padding: 0 40px;
  font-size: 0;
  line-height: 0;
  align-self: flex-end;
  flex-grow: 1;

  @media #{$tablet-width--md} {
    margin-bottom: 0;
    padding: 0 20px;
    align-self: center;
    box-sizing: border-box;
  }

  @media #{$tablet-width--xs} {
    max-width: 500px;
    margin-bottom: 20px !important;
  }

  img {
    width: 100%;
  }
}

.ads-promo__text {
  font-size: $font--xlg;
  line-height: $line--md;
  font-family: 'MullerLight', Arial, sans-serif;
}

.ads-promo__price {
  font-family: 'MullerExtraBold', Arial, sans-serif;
  font-size: $title-font--large;
  line-height: $line--md;
  color: $color-primary;

  span {
    font-size: $title-font--xlargest;
    line-height: $line--md;
  }
}

.ads-promo__features {
  margin-bottom: 15px;
  margin-top: 65px;
  font-size: $font--xlg;
  line-height: $line--md;
  font-family: 'MullerLight', Arial, sans-serif;

  @media #{$tablet-width--md} {
    margin-top: 40px;
  }

  b {
    display: block;
    text-transform: uppercase;
    font-family: 'MullerBold', Arial, sans-serif;
  }
}

.ads-promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;

  @media #{$tablet-width--xs} {
    display: inline-block;
    vertical-align: top;
  }

  li {
    font-weight: 300;
    color: $text-gray;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 7px;
      height: 7px;
      margin-bottom: 3px;
      border-radius: 100%;
      margin-right: 6px;
      background: $color-primary;
    }
  }
}
