.ads-info {
  padding-top: 40px;
  padding-bottom: 60px;
  background: $bg-dark;

  @media #{$tablet-width--md} {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.ads-info__title {
  margin-bottom: 40px;
  text-align: center;
}

.ads-info__inner {
  display: flex;
  justify-content: space-between;

  @media #{$tablet-width--md} {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.ads-info__item {
  width: 100%;
  max-width: 311px;

  @media #{$tablet-width--md} {
    margin-bottom: 35px;
  }

  &:last-child {

    @media #{$tablet-width--md} {
      width: 100%;
      max-width: initial;
      margin-bottom: 0;
    }
  }
}

.ads-info__pic {
  margin-bottom: 18px;
  text-align: center;
  font-size: 0;
  line-height: 0;

  img {
    max-width: 100%;
  }
}

.ads-info__text {
  margin-bottom: 15px;
  font-size: $font--lg-2;
  line-height: $line--lg;
  font-family: 'MullerLight', Arial, sans-serif;
  color: $text-white;
  text-align: center;

  b {
    font-size: $title-font--largest;
    font-family: 'MullerBold', Arial, sans-serif;
  }

  .ads-info__note {
    margin-bottom: 15px;
  }
}

.ads-info__note {
  text-transform: uppercase;
  font-family: 'MullerBold', Arial, sans-serif;
  color: $text-white;
  font-size: $font--lg-2;
  line-height: $line--md;
  text-align: center;
}

.ads-info__price {
  width: 100%;
  max-width: 269px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  background: $color-third;
  border-radius: 15px;
  box-sizing: border-box;

  .ads-info__text {
    margin-bottom: 16px;
  }

  .btn {
    letter-spacing: normal;
  }
}
