.features-list {
  margin-left: -112px;

  @media #{$tablet-width--xs} {
    margin-left: 0;
  }
}

.features-list__item {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 676px;
  margin-bottom: 22px;

  @media #{$tablet-width--xs} {
    align-items: flex-start;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.features-list__icon {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  margin-right: 10px;

  @media #{$tablet-width--xs} {
    width: 55px;
    height: 55px;
  }

  img {
    width: 100%;
  }
}

.features-list__title {
  font-size: $title-font--sm;
  line-height: $line--md;
  font-family: 'MullerBold', Arial, sans-serif;
  text-transform: uppercase;
}

.features-list__text {
  font-size: $font--lg-2;
  line-height: $line--lg;
  font-family: 'Roboto';
  font-weight: 300;
}
