.feedback-form__inner {
  position: relative;
  max-width: 970px;
  min-width: 300px;
  padding: 50px 30px 50px 30px;
  margin: auto;
  background-color: $color-secondary;
  border-radius: 10px;
  // box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);

  @media #{$tablet-width--xs} {
    padding: 30px 15px;
  }

  &:after {
    content: "";
    display: block;
    width: 130px;
    height: 53px;
    background: url("../img/quote-arrow-green.png") no-repeat;
    position: absolute;
    bottom: -50px;
    right: 15%;
  }
}

.feedback-form__inner--sidebar {
  min-width: initial;
  margin-bottom: 100px;
  padding: 42px 30px;
 	box-sizing: border-box;
 }

.feedback-form__title {
  margin: 0;
  margin-bottom: 28px;
  color: $text-white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'MullerBold', Arial, sans-serif;
  font-size: $title-font--largest;
  line-height: $line--md;

  @media #{$tablet-width--xs} {
    margin-bottom: 18px;
    font-size: $title-font--large;
  }

  span {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'MullerLight', Arial, sans-serif;
    font-size: $font--md;
  	line-height: $line--lg;
    letter-spacing: 1px;

    @media #{$tablet-width--xs} {
      margin-bottom: 10px;
    }
  }
}

.feedback-form {
	width: 100%;
	max-width: 815px;
	margin: auto;
	background-color: #03a678;
  border-radius: 10px;
	display: flex;
	flex-wrap: wrap;

	@media #{$tablet-width--xs} {
		flex-direction: column;
		align-items: center;
	}

	.form-group {
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;

		@media #{$tablet-width--xs} {
			width: 100%;
			max-width: 326px;
		}
	}

  .form-group--message {
    width: 100%;
    box-sizing: border-box;
  }

}

.feedback-form--order {
  flex-wrap: wrap;
  background-color: $bg-dark;

  .form-group {
    margin-bottom: 15px;
  }

  .form-label span {
    background-color: $bg-dark;
  }
}

.feedback-form--sidebar {
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;

	.form-group {
		width: 100%;
    margin-bottom: 15px;
	}

}

.feedback__btns {
	width: 100%;
	text-align: center;
}
