.footer-bottom {
  background: $gray-lightest;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 23px;

    @media #{$tablet-width--xs} {
      flex-direction: column;
      padding-top: 15px;
      padding-bottom: 10px;
    }
  }
}

.footer-bottom__item {
  font-weight: 300;

  @media #{$tablet-width--xs} {
    margin-bottom: 5px;
  }

  &:first-child {
    flex-shrink: 0;
  }

  &:last-child {
    flex-shrink: 0;
  }

  > a {
    text-transform: uppercase;
    color: $text-black;
    transition: all 0.2s;

    &:hover {
      color: $color-primary;
    }
  }
}

.footer-bottom__item--policy {

  @media #{$tablet-width--xs} {
    order: -1;
  }
}
