.footer-info {

  .container {
    max-width: 970px;
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
    padding-bottom: 46px;

    @media #{$tablet-width--xs} {
      justify-content: space-around;
      flex-wrap: wrap;
      padding-top: 23px;
      padding-bottom: 20px;
    }
  }

}

.footer-info__item {
  width: 238px;
  flex-shrink: 0;
  display: flex;

  @media #{$tablet-width--xs} {
    margin-bottom: 25px;
  }


  &:last-child {

    @media #{$tablet-width--xs} {
      width: 100%;
      margin-bottom: 0;
      justify-content: center;
      // text-align: center;
    }

    .footer-info__description {
      flex-shrink: 0;
    }
  }
}

.footer-info__pic {
  flex-shrink: 0;
  margin-right: 14px;

  img {
    width: 100%;
  }
}

.footer-info__description {

}

.footer-info__title {
  font-weight: bold;
}

.footer-info__link {
  color: $color-primary;

  &:hover {
    text-decoration: none;
  }
}

.footer-info__link--uppercase {
  text-transform: uppercase;
}

.footer-info__text {

  b {

    @media #{$tablet-width--md} {
      display: block;
    }

    @media #{$tablet-width--xs} {
      display: inline !important;
    }
  }
}
