.goals-list {
  max-width: 590px;
}

.goals-list__item {
  display: flex;
  margin-bottom: 50px;

  @media #{$tablet-width--md} {
    margin-bottom: 20px;
  }
}

.goals-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  margin-right: 33px;
  color: $text-white;
  font-size: $font--large;
  line-height: $line--xs;
  border-radius: 100%;

  @media #{$tablet-width--md} {
    margin-right: 20px;
  }
  @media #{$mobile-width--sm} {
    width: 36px;
    height: 36px;
    margin-right: 10px !important;
  }
}

.goals-list__icon--green {
  background: #7fb34c;
}

.goals-list__icon--blue {
  background: #3891de;
}

.goals-list__icon--gray {
  background: #485868;
}

.goals-list__icon--yellow {
  background: #f1992d;
}

.goals-list__text {
  font-size: $font--lg;
  line-height: $line--lg;
}
