.guests {
  padding-top: 60px;
  padding-bottom: 43px;

  @media #{$tablet-width--xs} {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.guests__title {
  margin-bottom: 48px;
  text-align: center;
}

.guests__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;

  @media #{$mobile-width--md} {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.guests__col {
  max-width: 390px;

  @media #{$tablet-width--xs} {
    max-width: initial;
    width: 50%;
  }
  @media #{$mobile-width--md} {
    width: 100%;
    margin-bottom: 30px;
  }
}

.guests__col--pic {

  @media #{$tablet-width--xs} {
    display: none;
  }
}

.guests__list {

}

.guests__item {
  display: flex;
  align-items: center;
  margin-bottom: 66px;

  @media #{$tablet-width--xs} {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.guests__item--reverse {
  flex-direction: row-reverse;

  @media #{$tablet-width--xs} {
    flex-direction: row;
  }

  .guests__item-pic {
    margin-right: 0;
    margin-left: 20px;

    @media #{$tablet-width--xs} {
      margin-left: 0;
      margin-right: 20px;
    }
  }
  .guests__item-title {
    text-align: right;

    @media #{$tablet-width--xs} {
      text-align: left;
    }
  }
  .guests__item-text {
    text-align: right;

    @media #{$tablet-width--xs} {
      text-align: left;
    }
  }
}

.guests__item-pic {
  width: 72px;
  margin-right: 20px;
  font-size: 0;
  line-height: 0;
  flex-shrink: 0;

  @media #{$tablet-width--md} {
    width: 52px;
  }

  img {
    width: 100%;
  }
}

.guests__item-title {
  font-size: $title-font--sm;
  line-height: $line--md;
  text-transform: uppercase;
  font-family: 'MullerBold', Arial, sans-serif;
}

.guests__item-text {
  font-size: $font--lg-2;
  line-height: $line--md;
  font-family: 'MullerLight', Arial, sans-serif;
}

.guest__pic {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;

  img {
    width: 100%;
  }
}
