.info-block {
  padding-top: 60px;
  padding-bottom: 74px;

  @media #{$tablet-width--xs} {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.info-block__text {
  max-width: 762px;
  margin-bottom: 42px;
  font-weight: 300;
  font-size: $font--lg-2;
  line-height: $line--lg;

  @media #{$tablet-width--xs} {
    margin-bottom: 22px;
  }
}
