.interest {
  padding-top: 50px;
  padding-bottom: 66px;
  background: $gray-lightest;

  @media #{$tablet-width--md} {
    padding-top: 25px;
    padding-bottom: 30px;
  }
}

.interest__title {
  margin-bottom: 50px;
  text-align: center;

  @media #{$tablet-width--md} {
    margin-bottom: 25px;
  }
}

.interest__inner {
  display: flex;
  justify-content: center;

  @media #{$tablet-width--xs} {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.interest__col {
  width: 33%;
  padding: 0 15px;
  box-sizing: border-box;

  @media #{$tablet-width--xs} {
    width: 50%;
  }

  @media #{$mobile-width--sm} {
    width: 100%;
    padding: 0;
  }
}

.interest__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.interest__pic {
  width: 32px;
  margin-right: 12px;
  font-size: 0;
  line-height: 0;

  img {
    width: 100%;
  }
}

.interest__text {
  font-weight: 300;
  color: $text-gray;
  font-size: $font--lg;
  line-height: $line--md;
}
