.links-list {

}

.links-list--header {
  display: none;
  width: 230px;
  position: absolute;
  z-index: 10002;
  padding-top: 20px;
}

.links-list__inner {
  padding: 25px 30px;
  background: $bg-white;
}

.links-list--header .links-list__inner {
  box-shadow: 0 -7px 17px -13px $gray;
}

@keyframes bounce {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.links-list--header.links-list--show {
  display: block;
  animation: bounce ease-out .3s;
}

.links-list__item {
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    color: $gray-light;
    font-size: $font--xxs;
    line-height: $line--lg;
  }
}

.links-list__link {
  font-family: 'MullerRegular', Arial, sans-serif;
  color: $color-primary;
  transition: all 0.2s;
  margin-right: 5px;

  &:hover {
    color: $color-secondary;
    text-decoration: none;
  }
}
