.main-promo {
  padding-bottom: 79px;
  background: $gray-lightest;

  @media #{$tablet-width--xs} {
    padding-bottom: 34px;
  }
}

.main-promo__inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding-top: 52px;
  background: url("../img/promo-map.png") no-repeat;
  // background-size: ;
  background-position: center 77%;

  @media #{$desktop-width-sm} {
    background-size: 45%;
    background-position: center;
  }

  @media #{$tablet-width--md} {
    background: none;
  }

  @media #{$tablet-width--xs} {
    flex-wrap: wrap;
    padding-top: 25px;
  }
}


.main-promo__list {
  width: 49%;

  @media #{$tablet-width--xs} {
    width: 100%;
  }
}

.main-promo__list--left .main-promo-item__info {
  max-width: 264px;
}

.main-promo__btns {
  margin-top: 28px;
  text-align: center;
}
