.main-slider {
  margin-bottom: 0 !important;

  .slick-dots {
    display: none !important;

    @media #{$tablet-width--md} {
      display: block !important;
    }
  }
}

.main-slider__item {
  height: calc(100vh - 64px);
}

.main-slider__info {
  position: absolute;
  top: 60px;
  right: 20%;
  padding: 40px;
  width: 100%;
  max-width: 300px;
  background: rgba(254, 255, 218, 0.9);

  @media #{$tablet-width--md} {
    top: 30%;
    right: 50%;
    transform: translateX(50%);
    padding: 30px 20px;
  }

  @media #{$mobile-width--sm} {
    max-width: 280px;
    padding: 30px 10px !important;
  }

}

.main-slider__name {
  margin-bottom: 33px;
  font-size: $font--xs;
  text-transform: uppercase;
  color: $color-primary;
  text-align: center;
  font-family: 'MullerMedium', Arial, sans-serif;

  @media #{$tablet-width--md} {
    margin-bottom: 15px;
  }
}
.main-slider__title {
  margin-bottom: 30px;
  color: $gray-dark;
  text-align: center;
  font-size: $title-font--lg;
  line-height: $line--lg;
  font-family: 'MullerBold', Arial, sans-serif;

  @media #{$tablet-width--md} {
    margin-bottom: 15px;
    font-size: $title-font--sm;
  }
}

.main-slider__btn-inner {
  text-align: center;
}
.main-slider__btn {
  display: inline-block;
  vertical-align: top;
  padding: 16px 24px;
  text-align: center;
  color: $color-secondary;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid $color-secondary;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.2s;
  line-height: $line--xs;

  &:hover {
    background: $color-secondary;
    color: $text-white;
  }
}
