.main-promo-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  @media #{$tablet-width--xs} {
    justify-content: center;
    align-items: center;
  }
  @media #{$mobile-width--sm} {
    margin-bottom: 20px;
  }

}

.main-promo-item--2 {
  margin-bottom: 25px;

  .main-promo-item__info {

    @media #{$tablet-width--xs} {
      padding-top: 0;
    }
  }
}

.main-promo-item--3 {
  justify-content: flex-end;

  @media #{$tablet-width--xs} {
    padding-top: 0;
  }
}

.main-promo-item--4 {
  justify-content: flex-end;

  .main-promo-item__pic {
    padding-top: 46px;

    @media #{$tablet-width--xs} {
      padding-top: 0;
    }
  }
  .main-promo-item__info {
    max-width: 286px;
    padding-top: 20px;

    @media #{$tablet-width--xs} {
      padding-top: 0;
    }
  }
}
.main-promo-item--5 {
  justify-content: flex-end;
  margin-bottom: 50px;

  @media #{$tablet-width--xs} {
    margin-bottom: 20px;
  }

  .main-promo-item__info {
    max-width: 260px;
    padding-top: 32px;

    @media #{$tablet-width--xs} {
      padding-top: 0;
    }
  }
}
.main-promo-item--6 {

  .main-promo-item__info {
    padding-top: 70px;

    @media #{$tablet-width--xs} {
      max-width: 270px;
      padding-top: 0;
    }
  }
}

.main-promo-item--between {
  justify-content: space-between;

  @media #{$mobile-width--sm} {
    margin-bottom: 20px;
  }
  @media #{$mobile-width--sm} {
    flex-wrap: wrap;
  }
}

.main-promo-item__info {
  padding-top: 40px;

  @media #{$tablet-width--xs} {
    padding-top: 0;
  }
  @media #{$mobile-width--sm} {
    width: 100%;
    max-width: initial !important;
  }
}

.main-promo-item__info--right {
  margin-left: 20px;

  @media #{$mobile-width--sm} {
    margin-left: 0;
    margin-top: 20px;
  }
}

.main-promo-item__info--left {
  margin-right: 20px;
}

.main-promo-item__info--1 {
  padding-top: 20px;
  margin-right: 0;
}

.main-promo-item__title {
  margin-bottom: 11px;
  font-size: $title-font--md;
  line-height: $line--md;
  font-family: 'MullerBold', Arial, sans-serif;

}

.main-promo-item__text {

}

.main-promo-item__pic {
  // width: 144px;
  // height: 144px;
  flex-shrink: 0;
  // padding: 5px;
  border-radius: 100%;
  // background-clip: padding-box;
  // background: $bg-white;
  // background-size: cover;
  // background-position: center;
  // border: 5px solid $bg-white;
  overflow: hidden;

  @media #{$tablet-width--md} {
    flex-shrink: 1;
  }

  @media #{$mobile-width--sm} {
    display: none;
  }

  img {
    width: 100%;
  }
}
