.map-features {
  position: relative;
  display: flex;
  background: $gray-lightest;
}

.map-features__pic {
  width: 45%;
  background: url("../img/map-small.jpg") no-repeat;
  background-size: cover;
  background-position: top right;

  @media #{$tablet-width--xs} {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.map-features__info {
  width: 55%;
  padding: 76px 15px 62px 62px;
  box-sizing: border-box;

  @media #{$tablet-width--xs} {
    position: relative;
    width: 100%;
    padding: 36px 15px;
    background: rgba(247, 247, 247, 0.9);
  }
}

.map-features__title {
  margin-bottom: 30px;
  font-size: $title-font--largest;
  line-height: $line--xs;
  font-family: 'MullerExtraBold';

  @media #{$tablet-width--xs} {
    font-size: $title-font--large;
    text-align: center;
  }

  span {
    display: block;
    font-family: 'MullerRegular';
  }
}
