.map-info {
  padding-top: 68px;
  padding-bottom: 73px;

  @media #{$tablet-width--xs} {
    padding-top: 40px;
    padding-bottom: 28px;
  }
}

.map-info--bg-gray {
  background: $gray-lightest;
}

.map-info__title {
  max-width: 826px;
  margin: auto;
  margin-bottom: 36px;
  text-align: center;
  font-size: $title-font--largest;
  line-height: $line--md;
  font-family: 'MullerRegular', Arial, sans-serif;

  @media #{$tablet-width--md} {
    margin-bottom: 22px;
    font-size: $title-font--large;
  }

  @media #{$mobile-width--md} {
    font-size: $title-font--sm;
  }

  b {
    font-family: 'MullerExtraBold', Arial, sans-serif;
    text-transform: uppercase;
  }
}
