.order-form {
  padding-top: 66px;
  padding-bottom: 30px;
  background: $gray-lightest;
}

.order-form__inner {
  position: relative;
  max-width: 970px;
  min-width: 300px;
  padding: 50px 30px 50px 30px;
  margin: auto;
  background-color: $bg-dark;
  border-radius: 10px;
  // box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);

  @media #{$tablet-width--xs} {
    padding: 30px 15px;
  }

}

.order-form__title {
  margin: 0;
  margin-bottom: 15px;
  color: $text-white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'MullerBold', Arial, sans-serif;
  font-size: $title-font--largest;
  line-height: $line--md;
  letter-spacing: 1px;

  @media #{$tablet-width--xs} {
    font-size: $title-font--sm;
  }

  span {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'MullerLight', Arial, sans-serif;
    text-transform: none;
    letter-spacing: 1px;

    @media #{$tablet-width--xs} {
      margin-bottom: 10px;
    }
  }
}

.order-form__subtitle {
  color: $text-white;
  text-align: center;
  margin-bottom: 40px;
  font-size: $font--xlg;
  line-height: $line--md;
  font-family: 'MullerLight', Arial, sans-serif;

  @media #{$tablet-width--xs} {
    margin-bottom: 25px;
    font-size: $font--lg;
    line-height: $line--md;
  }
}
