.our-goals {
  background: $bg-white;

  .container {
    display: flex;
    padding-top: 45px;
    padding-bottom: 55px;
  }
}

.our-goals__pic {
  width: 45%;
  padding-right: 35px;
  text-align: right;

  @media #{$tablet-width--xs} {
    display: none;
  }

  img {
    max-width: 100%;
  }
}

.our-goals__info {
  width: 55%;

  @media #{$tablet-width--xs} {
    width: 100%;
  }
}
