.request {
  padding-bottom: 48px;
  background: $gray-lightest;
}

.request__inner {
  max-width: 970px;
  background: $bg-white;
  padding-top: 48px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 36px -12px $gray;

  .section-title {
    margin-bottom: 26px;
  }
}
