.reviews-list {

}

.reviews-list__item {
  margin-bottom: 16px;
  padding: 40px 35px;
  background: $bg-white;
  border-radius: 10px;

  @media #{$tablet-width--xs} {
    padding: 30px 5px;
  }
}

.reviews-list__title {
  margin-bottom: 28px;
  font-family: 'MullerMedium', Arial, sans-serif;
  text-align: center;
  color: $color-primary;
  text-transform: uppercase;
  font-size: $font--xs;
  line-height: $line--md;
  letter-spacing: 1px;

  @media #{$tablet-width--xs} {
    margin-bottom: 22px;
  }
}

.reviews-list__text {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-size: $font--lg;
  line-height: $line--lg;

  @media #{$tablet-width--xs} {
    padding-left: 32px;
    padding-right: 32px;
  }

  &::before {
    content: '«';
    display: inline-block;
    vertical-align: middle;
    color: $color-primary;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    font-size: $font--largest;
    line-height: 0.5em;

    @media #{$tablet-width--xs} {
      left: 0;
    }
  }

  &::after {
    content: '»';
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    color: #22a7f0;
    font-size: $font--largest;
    line-height: 0.5em;

    @media #{$tablet-width--xs} {
      right: 0;
    }
  }

}
