.reviews-page {
  padding-top: 53px;
  padding-bottom: 83px;
  background: $gray-lightest;

  @media #{$tablet-width--xs} {
    padding-top: 23px;
    padding-bottom: 33px;
  }
}

.reviews-page__title {
  margin-bottom: 50px;

  @media #{$tablet-width--xs} {
    margin-bottom: 22px;
  }
}
