.slider-carousel {

}

.slider-carousel__title {
  margin-bottom: 24px;
  font-size: $title-font--sm;
  line-height: $line--md;
  font-family: 'MullerBold', Arial, sans-serif;
}

.slider-carousel__inner {
  overflow: hidden;

  .slick-prev {
    left: 25px;
    z-index: 3;
    width: 50px;
    height: 70%;
    background: $color-primary;
    border-radius: 7px;
    transition: all 0.2s;

    &:hover {
      background: $color-secondary;
    }

    &:before {
      // background: url("../img/left-arrow.png") no-repeat;
      background: none;
      width: auto;
      height: auto;
      font-size: 26px;
      opacity: 1;
    }
  }

  .slick-next {
    right: 25px;
    z-index: 3;
    width: 50px;
    height: 70%;
    background: $color-primary;
    border-radius: 7px;
    transition: all 0.2s;

    &:hover {
      background: $color-secondary;
    }

    &:before {
      // background: url("../img/right-arrow.png") no-repeat;
      background: none;
      width: auto;
      height: auto;
      font-size: 26px;
      opacity: 1;
    }
  }
}

.slider-carousel__item {
  line-height: 0;
  font-size: 0;

  img {
    width: 100%;
  }
}
