.tabs {
  width: 100%;
  max-width: 970px;
  margin: auto;
}

/* Tab Links */
/* Clearfix */
.tab-links:after {
  display: block;
  clear: both;
  content: "";
}

.tab-links {
  display: flex;
  justify-content: center;
  border: 1px solid $gray-lighten;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  overflow: hidden;

  @media #{$mobile-width--md} {
    flex-wrap: wrap;
  }
}

.tab-links li {
  margin: 0;
  float: left;
  list-style: none;
  flex-grow: 1;

  @media #{$mobile-width--md} {
    width: 50%;
  }
}
.tab-links a {
  padding: 23px 15px;
  display: block;
  text-align: center;
  font-size: $title-font--sm;
  font-weight: 600;
  color: $color-primary;
  transition: all linear 0.15s;
  // border-radius: 3px 3px 0 0;
  text-decoration: none;

  @media #{$mobile-width--md} {
    padding: 15px 5px;
  }
}
.tab-links a:hover {
  background: $color-primary;
  color: $text-white;
  text-decoration: none;
  outline: 1px solid $color-primary;

  span {
    border: none;
  }
}

.tab-links a span {
  border-bottom: 1px solid $color-primary;
  border-image: url("../img/dash.png") 0 0 100% 0 round;
}

li.active a {
  background: $color-primary;
  color: $text-white;
  outline: 1px solid $color-primary;
  text-decoration: none;

  span {
    border: none;
  }
}

li.active a:hover {
  background: $color-primary;
  color: $text-white;
  outline: 1px solid $color-primary;
  text-decoration: none;

  span {
    border: none;
  }
}

/* Content of Tabs */
.tab-content {
  padding: 28px 65px 41px;
  border-radius: 5px;
  // background: $bg-white;
  border: 1px solid $gray-lighten;

  @media #{$tablet-width--md} {
    padding: 28px 15px;
  }
}

.tab {
  display: none;
}
.tab.active {
  display: block;
}

.tab-content__inner {
  display: flex;
  width: 100%;

  @media #{$tablet-width--xs} {
    flex-wrap: wrap;
  }
  @media #{$mobile-width--sm} {
    display: block;
  }
}

.tab-content__col {
  width: 30%;

  @media #{$tablet-width--xs} {
    width: 45%;
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  @media #{$mobile-width--sm} {
    width: 100%;
  }
}

.tab-content__col:nth-child(2) {
  margin-left: 5%;
  margin-right: 5%;

  @media #{$tablet-width--xs} {
    margin: auto;
    margin-bottom: 22px;
  }
}

.tab-content__item {
  margin-bottom: 44px;

  @media #{$tablet-width--xs} {
    margin-bottom: 22px;
  }

  @media #{$mobile-width--sm} {
    text-align: center;
  }

  &:last-child {
    margin-bottom: 0;
  }


}

.tab-content__title {
  margin-bottom: 3px;
  font-size: $font--lg;
  font-weight: bold;
}

.tab-content__text {
  font-size: $font--lg;
}
